<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Check Wallets</h4>
              <p class="card-category">Edit your wallets</p>
            </div>
            <div class="card-body">
              <!-- <h1 class="wallets-title">My Wallets</h1> -->
              <div class="container-fluid">
                <!-- Search Bar-->
                <div  class="col-md-12">
                  <div class="row">
                      <form>
                        <div class="form-group">
                          <label for="searchForWallet">Search Wallet</label>
                          <input type="text" class="form-control search-wallet" [(ngModel)]="walletWord" name="walletWord" id="searchForWallet" aria-describedby="searchWallet">
                          <small id="searchWallet" class="form-text text-muted">Type the name of desired wallet</small>
                        </div>
                      </form>
                  </div>
                </div>
              
                <mat-card *ngFor="let wallet of walletsData | filter : walletWord" class="wallets-item">
                  <mat-card-title>{{ wallet.name }}</mat-card-title>
                  <mat-card-subtitle>{{ wallet.description }}</mat-card-subtitle>
                  <mat-card-content>
                    <p>Revenue: $1321</p>
                  </mat-card-content>
                  <button class="btn btn-secondary" routerLink="/wallets/{{ wallet.id }}" style="float:left">Open Wallet</button>
                  <mat-card-actions align="end" class="actions">
                    <button class="btn btn-info" (click)="onEdit(wallet)"  data-toggle="modal" data-target="#exampleModal">Edit</button>
                    <button class="btn btn-danger"  (click)="deleteWallet(wallet)">Delete</button>
                  </mat-card-actions>
                </mat-card>
              
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Wallet Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form [formGroup]="formValue">
                          <mat-form-field class="form-field-full-width" appearance="fill">
                            <mat-label for="walletName">Wallet Title</mat-label>
                            <input type="text" formControlName="walletName"  id="walletName" aria-describedby="walletName" matInput>
                          </mat-form-field>
                          <mat-form-field class="form-field-full-width" appearance="fill">
                            <mat-label for="ownerName">Owner Name</mat-label>
                            <input type="text" formControlName="ownerName" id="ownerName" aria-describedby="ownerName" matInput>
                          </mat-form-field>
                          <mat-form-field class="form-field-full-width" appearance="fill">
                            <mat-label for="walletDescription">Wallet Description</mat-label>
                            <textarea type="text" formControlName="walletDescription" id="walletDescription" aria-describedby="walletDescription" 
                            max-rows="2" placeholder="Ex: This wallet purpose is for ..." matInput></textarea>
                          </mat-form-field>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" id="cancel" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      
                        <button type="button" *ngIf="showAdd; else showUpdate" class="btn btn-success" (click)="postWalletDetails()">Add Wallet</button>
                        <ng-template #showUpdate>
                          <button type="button" class="btn btn-info text-white" (click)="updateWalletDetails()">Edit Wallet</button>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                </div>
              
                <button (click)="clickAddWallet()" mat-fab color="primary" aria-label="Add buton" style="position: fixed; bottom: 15px; right: 15px;" 
                data-toggle="modal" data-target="#exampleModal">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>