<div class="transaction-form">
    <h1 mat-dialog-title class="text-center">My Transaction</h1>
    <div mat-dialog-content style="margin-top:7px;">
        <form [formGroup]="formValue">
            <mat-form-field class="form-field-full-width" appearance="fill">
                <mat-label for="title">Transaction Title</mat-label>
                <input type="text" formControlName="title"  id="title" aria-describedby="title" matInput>
            </mat-form-field>
            <mat-form-field class="form-field-full-width" appearance="fill">
                <mat-label for="type">Transaction Type</mat-label>
                <mat-select formControlName="type" id="type" aria-describedby="type">
                    <mat-option *ngFor="let transactiontype of enumTransactionTypes" [value]="transactiontype">
                      {{StateTransactionTypes[transactiontype]}}
                    </mat-option>
                </mat-select>    
                <!-- <input type="text" formControlName="type" id="type" aria-describedby="type" matInput> -->
            </mat-form-field>
            <mat-form-field class="form-field-full-width" appearance="fill">
                <mat-label for="description">Transaction Description</mat-label>
                <textarea type="text" formControlName="description" id="description" aria-describedby="tydescriptionpe" 
                max-rows="2" placeholder="Ex: This transaction purpose is for ..." matInput></textarea>
            </mat-form-field>
            <mat-form-field class="form-field-full-width" appearance="fill">
                <mat-label for="amount">Transaction Amount</mat-label>
                <input type="text" formControlName="amount" id="amount" aria-describedby="amount" matInput>
            </mat-form-field>
            <mat-form-field class="form-field-full-width" appearance="fill">
                <mat-label for="date">Transaction Date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="date" id="date" aria-describedby="date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker color="primary"></mat-datepicker>
                <!-- <input type="text" formControlName="date" id="date" aria-describedby="date" matInput> -->
            </mat-form-field>
            </form>
    </div>
    <div mat-dialog-actions class="dialog-actions">
        <button class="btn btn-secondary" mat-button (click)="cancel()">Close</button>
        <div *ngIf="showAdd; else showEdit">
            <button class="btn btn-success" (click)="submit()">Add</button>
        </div>
        <ng-template #showEdit>
            <button class="btn btn-info" (click)="submit()">Update</button>
        </ng-template>
    </div>
</div>


